# vim: set filetype=yaml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ alacritty_example_config_path }}
# Upstream config source:
#   https://github.com/alacritty/alacritty/blob/master/alacritty.yml

shell:
  program: '{{ shell_cmd }}'

window:
  # padding (in pixels) to put in between terminal text and window border
  padding:
    x: {{ window_padding_pixels }}
    y: {{ window_padding_pixels }}
  # show window borders, and show window title bar
  decorations: {{ 'full' if show_window_borders_and_title_bar else 'none' }}
  # background opacity of the terminal window: 0.0 (transparent) to 1.0 (opaque)
  # NOTE: requires separate compositor application to be running
  opacity: {{ alacritty_term_colors.background.opacity }}

font:
  normal:
    family: '{{ font_family }}'
  bold:
    family: '{{ font_family }}'
    style:  '{{ font_style_bold }}'
  italic:
    family: '{{ font_family }}'
    style:  '{{ font_style_italic }}'
  bold_italic:
    family: '{{ font_family }}'
    style:  '{{ font_style_bold_italic }}'
  size: {{ font_size }}

colors:
  primary:
    background: '{{ alacritty_term_colors.background.bg }}'
    foreground: '{{ alacritty_term_colors.text.fg }}'
    bright_foreground: '{{ alacritty_term_colors.text.fg_bright }}'
  cursor:
    text: '{{ alacritty_term_colors.cursor.fg_text }}'
    cursor: '{{ alacritty_term_colors.cursor.bg }}'
  hints:
    start:
      foreground: '{{ alacritty_term_colors.urls.fg_text }}'
      background: '{{ alacritty_term_colors.urls.bg }}'
    end:
      foreground: 'CellForeground'
      background: 'CellBackground'
  normal:
    black:   '{{ alacritty_term_colors.black.color0_dimmed }}'
    red:     '{{ alacritty_term_colors.red.color1_dimmed }}'
    green:   '{{ alacritty_term_colors.green.color2_dimmed }}'
    yellow:  '{{ alacritty_term_colors.yellow.color3_dimmed }}'
    blue:    '{{ alacritty_term_colors.blue.color4_dimmed }}'
    magenta: '{{ alacritty_term_colors.magenta.color5_dimmed }}'
    cyan:    '{{ alacritty_term_colors.cyan.color6_dimmed }}'
    white:   '{{ alacritty_term_colors.white.color7_dimmed }}'
  bright:
    black:   '{{ alacritty_term_colors.black.color8_bright }}'
    red:     '{{ alacritty_term_colors.red.color9_bright }}'
    green:   '{{ alacritty_term_colors.green.color10_bright }}'
    yellow:  '{{ alacritty_term_colors.yellow.color11_bright }}'
    blue:    '{{ alacritty_term_colors.blue.color12_bright }}'
    magenta: '{{ alacritty_term_colors.magenta.color13_bright }}'
    cyan:    '{{ alacritty_term_colors.cyan.color14_bright }}'
    white:   '{{ alacritty_term_colors.white.color15_bright }}'

cursor:
  shape: '{{ cursor_shape }}'
  blinking: '{{ cursor_blink }}'
  blink_interval: {{ cursor_blink_interval_ms }}
  unfocused_hollow: {{ 'true' if show_hollow_cursor_on_unfocus else 'false' }}

bell:
  duration: {{ visual_bell_duration_ms }}
  color: '{{ alacritty_term_colors.visual_bell.bg }}'

hints:
  alphabet: '{{ link_hint_chars }}'

# NOTE: 'ReceiveChar' is a no-op that passes the keypresses into terminal
key_bindings:
  # clear UI warnings and screen
  - { key: {{ keymap_clear_ui_screen.key }}, mods: {{ keymap_clear_ui_screen.mods }}, action: ClearLogNotice }
  - { key: {{ keymap_clear_ui_screen.key }}, mods: {{ keymap_clear_ui_screen.mods }}, mode: ~Vi|~Search, chars: "\x0c" }
  # scrolling
  - { key: {{ scroll.page_up.key }}, mods: {{ scroll.page_up.mods }}, mode: ~Alt, action: ScrollPageUp }
  - { key: {{ scroll.page_down.key }}, mods: {{ scroll.page_down.mods }}, mode: ~Alt, action: ScrollPageDown }
  - { key: {{ scroll.top.key }}, mods: {{ scroll.top.mods }}, mode: ~Alt, action: ScrollToTop }
  - { key: {{ scroll.bottom.key }}, mods: {{ scroll.bottom.mods }}, mode: ~Alt, action: ScrollToBottom }
  #  Vi Mode
  - { key: Space, mods: Shift|Control, mode: ~Search, action: ReceiveChar }
  # - { key: Space,  mods: Shift|Control, mode: Vi|~Search, action: ScrollToBottom          }
  # - { key: Escape,                      mode: Vi|~Search, action: ClearSelection          }
  # - { key: I,                           mode: Vi|~Search, action: ToggleViMode            }
  # - { key: I,                           mode: Vi|~Search, action: ScrollToBottom          }
  # - { key: C,      mods: Control,       mode: Vi|~Search, action: ToggleViMode            }
  # - { key: Y,      mods: Control,       mode: Vi|~Search, action: ScrollLineUp            }
  # - { key: E,      mods: Control,       mode: Vi|~Search, action: ScrollLineDown          }
  # - { key: G,                           mode: Vi|~Search, action: ScrollToTop             }
  # - { key: G,      mods: Shift,         mode: Vi|~Search, action: ScrollToBottom          }
  # - { key: B,      mods: Control,       mode: Vi|~Search, action: ScrollPageUp            }
  # - { key: F,      mods: Control,       mode: Vi|~Search, action: ScrollPageDown          }
  # - { key: U,      mods: Control,       mode: Vi|~Search, action: ScrollHalfPageUp        }
  # - { key: D,      mods: Control,       mode: Vi|~Search, action: ScrollHalfPageDown      }
  # - { key: Y,                           mode: Vi|~Search, action: Copy                    }
  # - { key: Y,                           mode: Vi|~Search, action: ClearSelection          }
  # - { key: Copy,                        mode: Vi|~Search, action: ClearSelection          }
  # - { key: V,                           mode: Vi|~Search, action: ToggleNormalSelection   }
  # - { key: V,      mods: Shift,         mode: Vi|~Search, action: ToggleLineSelection     }
  # - { key: V,      mods: Control,       mode: Vi|~Search, action: ToggleBlockSelection    }
  # - { key: V,      mods: Alt,           mode: Vi|~Search, action: ToggleSemanticSelection }
  # - { key: Return,                      mode: Vi|~Search, action: Open                    }
  # - { key: K,                           mode: Vi|~Search, action: Up                      }
  # - { key: J,                           mode: Vi|~Search, action: Down                    }
  # - { key: H,                           mode: Vi|~Search, action: Left                    }
  # - { key: L,                           mode: Vi|~Search, action: Right                   }
  # - { key: Up,                          mode: Vi|~Search, action: Up                      }
  # - { key: Down,                        mode: Vi|~Search, action: Down                    }
  # - { key: Left,                        mode: Vi|~Search, action: Left                    }
  # - { key: Right,                       mode: Vi|~Search, action: Right                   }
  # - { key: Key0,                        mode: Vi|~Search, action: First                   }
  # - { key: Key4,   mods: Shift,         mode: Vi|~Search, action: Last                    }
  # - { key: Key6,   mods: Shift,         mode: Vi|~Search, action: FirstOccupied           }
  # - { key: H,      mods: Shift,         mode: Vi|~Search, action: High                    }
  # - { key: M,      mods: Shift,         mode: Vi|~Search, action: Middle                  }
  # - { key: L,      mods: Shift,         mode: Vi|~Search, action: Low                     }
  # - { key: B,                           mode: Vi|~Search, action: SemanticLeft            }
  # - { key: W,                           mode: Vi|~Search, action: SemanticRight           }
  # - { key: E,                           mode: Vi|~Search, action: SemanticRightEnd        }
  # - { key: B,      mods: Shift,         mode: Vi|~Search, action: WordLeft                }
  # - { key: W,      mods: Shift,         mode: Vi|~Search, action: WordRight               }
  # - { key: E,      mods: Shift,         mode: Vi|~Search, action: WordRightEnd            }
  # - { key: Key5,   mods: Shift,         mode: Vi|~Search, action: Bracket                 }
  # - { key: Slash,                       mode: Vi|~Search, action: SearchForward           }
  # - { key: Slash,  mods: Shift,         mode: Vi|~Search, action: SearchBackward          }
  # - { key: N,                           mode: Vi|~Search, action: SearchNext              }
  # - { key: N,      mods: Shift,         mode: Vi|~Search, action: SearchPrevious          }

  #  Search Mode
  # - { key: Return,                mode: Search|Vi,  action: SearchConfirm         }
  # - { key: Escape,                mode: Search,     action: SearchCancel          }
  # - { key: C,      mods: Control, mode: Search,     action: SearchCancel          }
  # - { key: U,      mods: Control, mode: Search,     action: SearchClear           }
  # - { key: W,      mods: Control, mode: Search,     action: SearchDeleteWord      }
  # - { key: P,      mods: Control, mode: Search,     action: SearchHistoryPrevious }
  # - { key: N,      mods: Control, mode: Search,     action: SearchHistoryNext     }
  # - { key: Up,                    mode: Search,     action: SearchHistoryPrevious }
  # - { key: Down,                  mode: Search,     action: SearchHistoryNext     }
  # - { key: Return,                mode: Search|~Vi, action: SearchFocusNext       }
  # - { key: Return, mods: Shift,   mode: Search|~Vi, action: SearchFocusPrevious   }

  #  (Windows, Linux, and BSD only)
  # - { key: V,              mods: Control|Shift, mode: ~Vi,        action: Paste            }
  # - { key: C,              mods: Control|Shift,                   action: Copy             }
  # - { key: F,              mods: Control|Shift, mode: ~Search,    action: SearchForward    }
  # - { key: B,              mods: Control|Shift, mode: ~Search,    action: SearchBackward   }
  # - { key: C,              mods: Control|Shift, mode: Vi|~Search, action: ClearSelection   }
  # - { key: Insert,         mods: Shift,                           action: PasteSelection   }
  # - { key: Key0,           mods: Control,                         action: ResetFontSize    }
  # - { key: Equals,         mods: Control,                         action: IncreaseFontSize }
  # - { key: Plus,           mods: Control,                         action: IncreaseFontSize }
  # - { key: NumpadAdd,      mods: Control,                         action: IncreaseFontSize }
  # - { key: Minus,          mods: Control,                         action: DecreaseFontSize }
  # - { key: NumpadSubtract, mods: Control,                         action: DecreaseFontSize }

