# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ alacritty_example_config_path }}
# Upstream config source:
#   https://alacritty.org/config-alacritty.html

shell = "{{ alacritty_shell_cmd }}"

live_config_reload = {{ 'true' if alacritty_allow_live_config_reload else 'false' }}

[window]

padding.x = {{ alacritty_window_padding_pixels }}
padding.y = {{ alacritty_window_padding_pixels }}
decorations = "{{ 'Full' if alacritty_show_window_borders_and_title_bar else 'None' }}"
opacity = {{ alacritty_term_colors.background.opacity }}

[scrolling]

history = {{ alacritty_scrollback_history }}

[font]

normal.family = "{{ alacritty_font_family }}"
bold.family = "{{ alacritty_font_family }}"
bold.style = "{{ alacritty_font_style_bold }}"
italic.family = "{{ alacritty_font_family }}"
italic.style = "{{ alacritty_font_style_italic }}"
bold_italic.family = "{{ alacritty_font_family }}"
bold_italic.style = "{{ alacritty_font_style_bold_italic }}"
size = {{ alacritty_font_size }}

[colors]

primary.background = "{{ alacritty_term_colors.background.bg }}"
primary.foreground = "{{ alacritty_term_colors.text.fg }}"
primary.bright_foreground = "{{ alacritty_term_colors.text.fg_bright }}"
cursor.text = "{{ alacritty_term_colors.cursor.fg_text }}"
cursor.cursor = "{{ alacritty_term_colors.cursor.bg }}"
hints.start.foreground = "{{ alacritty_term_colors.urls.fg_text }}"
hints.start.background = "{{ alacritty_term_colors.urls.bg }}"
hints.end.foreground = "CellForeground"
hints.end.background = "CellBackground"
normal.black =   "{{ alacritty_term_colors.black.color0_dimmed }}"
normal.red =     "{{ alacritty_term_colors.red.color1_dimmed }}"
normal.green =   "{{ alacritty_term_colors.green.color2_dimmed }}"
normal.yellow =  "{{ alacritty_term_colors.yellow.color3_dimmed }}"
normal.blue =    "{{ alacritty_term_colors.blue.color4_dimmed }}"
normal.magenta = "{{ alacritty_term_colors.magenta.color5_dimmed }}"
normal.cyan =    "{{ alacritty_term_colors.cyan.color6_dimmed }}"
normal.white =   "{{ alacritty_term_colors.white.color7_dimmed }}"
bright.black =   "{{ alacritty_term_colors.black.color8_bright }}"
bright.red =     "{{ alacritty_term_colors.red.color9_bright }}"
bright.green =   "{{ alacritty_term_colors.green.color10_bright }}"
bright.yellow =  "{{ alacritty_term_colors.yellow.color11_bright }}"
bright.blue =    "{{ alacritty_term_colors.blue.color12_bright }}"
bright.magenta = "{{ alacritty_term_colors.magenta.color13_bright }}"
bright.cyan =    "{{ alacritty_term_colors.cyan.color14_bright }}"
bright.white =   "{{ alacritty_term_colors.white.color15_bright }}"

[bell]

duration = {{ alacritty_visual_bell_duration_ms }}
color = "{{ alacritty_term_colors.visual_bell.bg }}"

[cursor]

style.shape = "{{ alacritty_cursor_shape }}"
vi_mode_style.shape = "{{ alacritty_cursor_shape_vi_mode }}"
style.blinking = "{{ alacritty_cursor_blink }}"
vi_mode_style.blinking = "{{ alacritty_cursor_blink_vi_mode }}"
blink_interval = {{ alacritty_cursor_blink_interval_ms }}
blink_timeout = {{ alacritty_cursor_blink_timeout_sec }}
unfocused_hollow = {{ 'true' if alacritty_show_hollow_cursor_on_unfocus else 'false' }}

[mouse]

hide_when_typing = {{ 'true' if alacritty_hide_mouse_when_typing else 'false' }}

[hints]

alphabet = "{{ alacritty_hint_mode_chars }}"

[[hints.enabled]]

command = "{{ alacritty_hint_mode_open_url_cmd }}"
hyperlinks = true
post_processing = false
persist = false
mouse.enabled = true
binding.key = "{{ alacritty_keymap_toggle_url_hint_mode.key }}"
binding.mods = "{{ alacritty_keymap_toggle_url_hint_mode.mods }}"
regex = """
(ipfs:|ipns:|magnet:|mailto:|gemini://|gopher:\
//|https://|http://|news:|file:|git://|ssh:|ftp://)[^\u0000-\
\u001F\u007F-\u009F<>\"\\s{-}\\^⟨⟩`]+"""

# NOTE: 'ReceiveChar' is a no-op that passes the keypresses into terminal

[[keyboard.bindings]]
key = "{{ alacritty_keymap_new_term_in_current_dir.key }}"
mods = "{{ alacritty_keymap_new_term_in_current_dir.mods }}"
action = "SpawnNewInstance"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_close_term_window.key }}"
mods = "{{ alacritty_keymap_close_term_window.mods }}"
action = "Quit"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_clear_screen.key }}"
mods = "{{ alacritty_keymap_clear_screen.mods }}"
action = "ClearLogNotice"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_clear_screen.key }}"
mods = "{{ alacritty_keymap_clear_screen.mods }}"
mode = "~Vi|~Search"
action = "ClearHistory"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_toggle_vi_mode.key }}"
mods = "{{ alacritty_keymap_toggle_vi_mode.mods }}"
action = "ToggleViMode"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_toggle_vi_mode_and_pgup.key }}"
mods = "{{ alacritty_keymap_toggle_vi_mode_and_pgup.mods }}"
action = "ToggleViMode"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_toggle_vi_mode_and_pgup.key }}"
mods = "{{ alacritty_keymap_toggle_vi_mode_and_pgup.mods }}"
action = "ScrollPageUp"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_search_mode_backward.key }}"
mods = "{{ alacritty_keymap_search_mode_backward.mods }}"
action = "SearchBackward"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_search_mode_forward.key }}"
mods = "{{ alacritty_keymap_search_mode_forward.mods }}"
action = "SearchForward"
[[keyboard.bindings]]
key = "Escape"
mode = "Vi"
action = "ToggleViMode"
[[keyboard.bindings]]
key = "Escape"
mode = "Search"
action = "SearchCancel"

[[keyboard.bindings]]
key = "{{ alacritty_keymap_copy_text.key }}"
mods = "{{ alacritty_keymap_copy_text.mods }}"
action = "Copy"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_paste_text.key }}"
mods = "{{ alacritty_keymap_paste_text.mods }}"
mode = "~Vi"
action = "Paste"

[[keyboard.bindings]]
key = "{{ alacritty_keymap_increase_font_size.key }}"
mods = "{{ alacritty_keymap_increase_font_size.mods }}"
action = "IncreaseFontSize"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_decrease_font_size.key }}"
mods = "{{ alacritty_keymap_decrease_font_size.mods }}"
action = "DecreaseFontSize"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_reset_font_size.key }}"
mods = "{{ alacritty_keymap_reset_font_size.mods }}"
action = "ResetFontSize"

[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_up.key }}"
mode = "Vi|~Search"
action = "Up"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_down.key }}"
mode = "Vi|~Search"
action = "Down"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_left.key }}"
mode = "Vi|~Search"
action = "Left"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_right.key }}"
mode = "Vi|~Search"
action = "Right"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_line_start.key }}"
mode = "Vi|~Search"
action = "First"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_line_end.key }}"
mode = "Vi|~Search"
action = "Last"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_next_word_start.key }}"
mode = "Vi|~Search"
action = "WordRight"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_next_word_end.key }}"
mode = "Vi|~Search"
action = "WordRightEnd"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_prev_word_start.key }}"
mode = "Vi|~Search"
action = "WordLeft"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_page_up.key }}"
mode = "Vi|~Search"
action = "ScrollPageUp"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_page_down.key }}"
mode = "Vi|~Search"
action = "ScrollPageDown"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_top_of_buffer.key }}"
mode = "Vi|~Search"
action = "ScrollToTop"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_end_of_buffer.key }}"
mods = "{{ alacritty_keymap_vi_mode_end_of_buffer.mods }}"
mode = "Vi|~Search"
action = "ScrollToBottom"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_toggle_visual.key }}"
mode = "Vi|~Search"
action = "ToggleNormalSelection"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_toggle_visual_line.key }}"
mods = "{{ alacritty_keymap_vi_mode_toggle_visual_line.mods }}"
mode = "Vi|~Search"
action = "ToggleLineSelection"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_next_search_match.key }}"
mode = "Vi|~Search"
action = "SearchNext"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_prev_search_match.key }}"
mods = "{{ alacritty_keymap_vi_mode_prev_search_match.mods }}"
mode = "Vi|~Search"
action = "SearchPrevious"

[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_next_search_match.key }}"
mods = "{{ alacritty_keymap_vi_mode_next_search_match.mods }}"
mode = "Search"
action = "SearchFocusNext"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_vi_mode_prev_search_match.key }}"
mods = "{{ alacritty_keymap_vi_mode_prev_search_match.mods }}"
mode = "Search"
action = "SearchFocusPrevious"

