# vim: set filetype=toml:
# ANSIBLE-MANAGED CONFIGURATION FILE
# Local config sample:
#   {{ alacritty_example_config_path }}
# Upstream config source:
#   https://alacritty.org/config-alacritty.html

shell = "{{ alacritty_shell_cmd }}"

live_config_reload = {{ 'true' if alacritty_allow_live_config_reload else 'false' }}

[window]
padding.x = {{ alacritty_window_padding_pixels }}
padding.y = {{ alacritty_window_padding_pixels }}
decorations = "{{ 'Full' if alacritty_show_window_borders_and_title_bar else 'None' }}"
opacity = {{ alacritty_term_colors.background.opacity }}

[scrolling]
history = {{ alacritty_scrollback_history }}

[font]
normal.family = "{{ alacritty_font_family }}"
bold.family = "{{ alacritty_font_family }}"
bold.style = "{{ alacritty_font_style_bold }}"
italic.family = "{{ alacritty_font_family }}"
italic.style = "{{ alacritty_font_style_italic }}"
bold_italic.family = "{{ alacritty_font_family }}"
bold_italic.style = "{{ alacritty_font_style_bold_italic }}"
size = {{ alacritty_font_size }}

[colors]
primary.background = "{{ alacritty_term_colors.background.bg }}"
primary.foreground = "{{ alacritty_term_colors.text.fg }}"
primary.bright_foreground = "{{ alacritty_term_colors.text.fg_bright }}"
cursor.text = "{{ alacritty_term_colors.cursor.fg_text }}"
cursor.cursor = "{{ alacritty_term_colors.cursor.bg }}"
hints.start.foreground = "{{ alacritty_term_colors.urls.fg_text }}"
hints.start.background = "{{ alacritty_term_colors.urls.bg }}"
hints.end.foreground = "CellForeground"
hints.end.background = "CellBackground"
normal.black =   "{{ alacritty_term_colors.black.color0_dimmed }}"
normal.red =     "{{ alacritty_term_colors.red.color1_dimmed }}"
normal.green =   "{{ alacritty_term_colors.green.color2_dimmed }}"
normal.yellow =  "{{ alacritty_term_colors.yellow.color3_dimmed }}"
normal.blue =    "{{ alacritty_term_colors.blue.color4_dimmed }}"
normal.magenta = "{{ alacritty_term_colors.magenta.color5_dimmed }}"
normal.cyan =    "{{ alacritty_term_colors.cyan.color6_dimmed }}"
normal.white =   "{{ alacritty_term_colors.white.color7_dimmed }}"
bright.black =   "{{ alacritty_term_colors.black.color8_bright }}"
bright.red =     "{{ alacritty_term_colors.red.color9_bright }}"
bright.green =   "{{ alacritty_term_colors.green.color10_bright }}"
bright.yellow =  "{{ alacritty_term_colors.yellow.color11_bright }}"
bright.blue =    "{{ alacritty_term_colors.blue.color12_bright }}"
bright.magenta = "{{ alacritty_term_colors.magenta.color13_bright }}"
bright.cyan =    "{{ alacritty_term_colors.cyan.color14_bright }}"
bright.white =   "{{ alacritty_term_colors.white.color15_bright }}"

[bell]
duration = {{ alacritty_visual_bell_duration_ms }}
color = "{{ alacritty_term_colors.visual_bell.bg }}"

[cursor]
style.shape = "{{ alacritty_cursor_shape }}"
style.blinking = "{{ alacritty_cursor_blink }}"
blink_interval = {{ alacritty_cursor_blink_interval_ms }}
unfocused_hollow = {{ 'true' if alacritty_show_hollow_cursor_on_unfocus else 'false' }}

[mouse]
hide_when_typing = {{ 'true' if alacritty_hide_mouse_when_typing else 'false' }}

[hints]
alphabet = "{{ alacritty_link_hint_chars }}"

[[hints.enabled]]
command = "{{ alacritty_url_hint_mode_cmd }}"
mouse.enabled = true
binding.key = "{{ alacritty_keymap_toggle_url_hint_mode.key }}"
binding.mods = "{{ alacritty_keymap_toggle_url_hint_mode.mods }}"

# NOTE: 'ReceiveChar' is a no-op that passes the keypresses into terminal
[[keyboard.bindings]]
# clear screen and UI warnings
key = "{{ alacritty_keymap_clear_screen_ui.key }}"
mods = "{ alacritty_keymap_clear_screen_ui.mods }}"
action = "ClearLogNotice"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_clear_screen_ui.key }}"
mods = "{{ alacritty_keymap_clear_screen_ui.mods }}"
mode = "~Vi|~Search"
chars = "\x0c"
# scrolling
[[keyboard.bindings]]
key = "{{ alacritty_keymap_scroll.page_up.key }}"
mods = "{{ alacritty_keymap_scroll.page_up.mods }}"
mode = "~Alt"
action = "ScrollPageUp"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_scroll.page_down.key }}"
mods = "{{ alacritty_keymap_scroll.page_down.mods }}"
mode = "~Alt"
action = "ScrollPageDown"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_scroll.top.key }}"
mods = "{{ alacritty_keymap_scroll.top.mods }}"
mode = "~Alt"
action = "ScrollToTop"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_scroll.bottom.key }}"
mods = "{{ alacritty_keymap_scroll.bottom.mods }}"
mode = "~Alt"
action = "ScrollToBottom"
#  Vi Mode (disable it)
[[keyboard.bindings]]
key = "Space"
mods = "Shift|Control"
mode = "~Search"
action = "ReceiveChar"
#  Search Mode (disable it)
[[keyboard.bindings]]
key = "F"
mods = "Control|Shift"
mode = "~Search"
action = "ReceiveChar"
[[keyboard.bindings]]
key = "B"
mods = "Control|Shift"
mode = "~Search"
action = "ReceiveChar"
#  copy and paste selected text
[[keyboard.bindings]]
key = "{{ alacritty_keymap_copy_text.key }}"
mods = "{{ alacritty_keymap_copy_text.mods }}"
action = "Copy"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_paste_text.key }}"
mods = "{{ alacritty_keymap_paste_text.mods }}"
mode = "~Vi"
action = "Paste"
[[keyboard.bindings]]
key = "Insert"
mods = "Shift"
action = "ReceiveChar"
# increase and decrease font size
[[keyboard.bindings]]
key = "{{ alacritty_keymap_increase_font_size.key }}"
mods = "{{ alacritty_keymap_increase_font_size.mods }}"
action = IncreaseFontSize
[[keyboard.bindings]]
key = "{{ alacritty_keymap_decrease_font_size.key }}"
mods = "{{ alacritty_keymap_decrease_font_size.mods }}"
action = "DecreaseFontSize"
[[keyboard.bindings]]
key = "{{ alacritty_keymap_reset_font_size.key }}"
mods = "{{ alacritty_keymap_reset_font_size.mods }}"
action = "ResetFontSize"

